/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: Raleway,Tahoma,sans-serif;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

header {
	height: 1096px;
	background: #7b7b7b url(img/bg-slider.png) no-repeat 100% 0%;
}

.wrap {
  max-width: 1170px;
  /*width: 100%;*/
  margin: 0 auto;
  /*padding-top: 80px;*/
}

.button {
	display: inline-block;
	cursor: pointer;
	background-color: transparent;
}

.title {
	text-align: center;
	color: #303030;
	font-family:'Playfair Display', serif;
	font-size: 30px;
	font-style: italic;
	line-height: 24px;
	margin-bottom: 32px;
}

.logo {
	float: left;
	margin: 59px 0 0 89px;
}

.navmenu a {
	text-decoration: none;
	color: white;
	position: relative;
}

.navmenu a.active:before,
.navmenu a:hover:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	background: url(img/line_active.png) no-repeat;
	width: 34px;
	height: 34px;
	margin: -17px 0 0 -17px;
}

a.active {
	background: url(img/line_active.png) no-repeat 50% 50%;
}

ul.navmenu {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-weight: 600;
	line-height: 24px;
	text-transform: uppercase;
	list-style: none;
}

ul.navmenu:after{
	content: "";
  	clear: both;
  	display: block;
}

ul.navmenu li {
	cursor: pointer;
  	list-style: none;
  	display: block;
  	position: relative;
  	padding: 0;
}

ul.navmenu {
	float: right;
	padding: 0 8px;
}

ul.navmenu li {
	float: left;
}

ul.navmenu li a {
	line-height: 188px;
	padding: 32px;
}

.navicon {
    float: right;
    margin: 86px 32px 0 0;
    cursor: pointer;
}

.searchicon {
    float: right;
    margin: 86px 57px 0 0;
    cursor: pointer;
}

/*About Me*/

.about-me {
	text-align: center;
}

.ava {
	width: 170px;
	height: 170px;
	margin-top: 89px;
	margin-bottom: 57px;
}

.dott {
	width: 8px;
	height: 8px;
	background-color: #e8e8e8;
	position: relative;
	border-radius: 100%;
	margin: 0 auto;
}

.line1 {
	height: 1px;
	width: 23px;
	background-color: #e8e8e8;
	position: absolute;
	top: 50%;
	left: 200%;

}

.line2 {
	height: 1px;
	width: 23px;
	background-color: #e8e8e8;
	position: absolute;
	top: 50%;
	left: -400%;
}

.about-me p {
	width: 946px;
	color: #515151;
	font-size: 12px;
	font-weight: 500;
	line-height: 24px;
	margin: 32px auto;
}

.about-me h5 {
	color: #303030;
	font-family:'Playfair Display', serif;
	font-size: 14px;
	font-style: italic;
	line-height: 24px;
	text-align: center;
	margin-bottom: 30px;
	font-weight: 900;

}

/* Social */

.social img {
	width: 42px;
	height: 42px;
	border: 1px solid #868686;
	border-radius:50%;
}

.social a {
	display: block;
	position: relative;
	text-align: center;

}

.social a:hover:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	
	border: 1px solid #e1571a;
	border-radius:50%;
	width: 42px;
	height: 42px;
}

.social a.fb:hover:before{
	background: #e1571a url(img/fb-active.png) no-repeat;
}

.social a.tw:hover:before{
	background: #e1571a url(img/tw-active.png) no-repeat;
}

.social a.gp:hover:before{
	background: #e1571a url(img/gp-active.png) no-repeat;
}

.social a.dr:hover:before{
	background: #e1571a url(img/dr-active.png) no-repeat;
}

.social a.pin:hover:before{
	background: #e1571a url(img/p-active.png) no-repeat;
}

.social a.git:hover:before{
	background: #e1571a url(img/git-active.png) no-repeat;
}

ul.social li {
	cursor: pointer;
  	list-style: none;
  	display: block;
  	position: relative;
  	padding: 0;

}

ul.social li {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;

}

/* Portfolio */

.portfolio {
	margin-top: 70px;
	margin-bottom: 90px;
}

.portfolio-items {
	list-style: none;
	width: 100%;
	display: inline-block;
}

.portfolio-items li {
	position: relative;
	overflow: hidden;
    cursor: pointer;
    display: inline-block;
    margin: 10px 8px;
}

.portfolio-detail {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background: rgba(48,48,48,.6);
    color: white;
	transition: all .3s ease-in-out;
}

.vertical-centered {
	position: absolute;
    top: 42%;
    left: 35%;
    text-align: center;
}

.portfolio-items li:hover .portfolio-detail {
	opacity: 1;
}

.portfolio-detail h3 {
	font-family: 'Playfair Display',serif;
	font-size: 19px;
	font-style: italic;
	line-height: 15px;
}

.portfolio-detail p {
	padding-top: 14px;

    font-family: 'Raleway',sans-serif;
	font-size: 8px;
	font-weight: 600;
	line-height: 15px;
    text-transform: uppercase;
}

.portfolio-items li img {
    width: auto;
    height: 100%;
    display: block;
}

/* Promod Block */

.promo {
	width: 100%;
}

.promo .img{
	float: left;
	width: 50%;
}
.promo img {
	float: right;
}
.promo .textarea {
	width: 50%;
	float: right;
}
.promo span {
	display:block;
}

.promo h2 {
	color: #303030;
	font-family: PlayfairDisplay;
	font-size: 30px;
	font-style: italic;
	line-height: 24px;
	margin-top: 60px;

}
.promo p {
	color: #515151;
	font-family: Raleway;
	font-size: 12px;
	font-weight: 500;
	line-height: 24px;
	margin-top: 27px;
	width: 75%;
}
.promo button {
	background-color:#303030;
	color:white;
	font-family: Raleway;
	font-size: 12px;
	font-weight: 500;
	line-height: 24px;
	text-transform: uppercase;
	padding: 5px 30px;
	margin-top: 59px;
	border: none;

}

/* Our Philoshophy */
.ourph {
	width: 100%;
}
.ourph h2 {
	text-align: center;
	color: #303030;
	font-family: PlayfairDisplay;
	font-size: 30px;
	font-style: italic;
	line-height: 24px;
	margin-top: 70px;
}
.ourph .dott {
	margin-top: 25px;
	margin-bottom: 50px;
}
.ourph .text {
	float: left;
	width:50%;
}
.ourph img{
	float: right;
	width: 50%;
}
.ourph p {
	width: 75%;
	margin-top: 20px;
	margin-left: 17%;
	color: #515151;
	font-family: Raleway;
	font-size: 12px;
	font-weight: 500;
	line-height: 24px;
	
}
.ourph h3 {
	color: #303030;
	font-family: PlayfairDisplay;
	font-size: 30px;
	font-style: italic;
	line-height: 24px;
	margin-left: 17%;

}
.ourph button {
	margin-left: 17%;
	margin-top: 35px;
	background-color:#303030;
	color:white;
	font-family: Raleway;
	font-size: 12px;
	font-weight: 500;
	line-height: 24px;
	text-transform: uppercase;
	padding: 5px 30px;
	border: none;
}

/* Video */

.video {
	margin-top: 80px;
}

.bg-image {
	position: relative;
	background-color: black;
	min-height: 585px;
}

.bg-image:before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: 0.2;
}

.video:before {
	background-image: url(img/bg_parallax.png);
}

.centered {
	position: absolute;
    top: 50%;
    left: 50%;
}

.video p {
	padding-top: 207px;
	text-align: center;
	color: white;
	font-family: 'Playfair Display',serif;
	font-size: 36px;
	font-style: italic;
}

.circle {
	width: 66px;
	height: 66px;
	border-radius: 50%;
	text-align: center;
	box-sizing: content-box;
	transition: all .3s ease-in-out;
}

.circle-arrow {
	color: white;
	border: 1px solid white;
	background: url(img/ic-play.png) no-repeat 50% 50%;
}

.circle-arrow:hover {
	opacity: 0.5;
}

/* Testimonial */

.testimonial {
	margin-top: 80px;
	text-align: center;
}

.testimonial img {
	margin-top: 96px; 
}

.testimonial p {
	width: 745px;
	margin: 0 auto;
	margin-top: 34px;
	margin-bottom: 24px;
	color: #515151;
	font-family: 'Playfair Display',serif;
	font-size: 14px;
	font-style: italic;
	line-height: 24px;
}

.testimonial hr {
	height: 2px;
	width: 30px;
	border: none;
	background-color: #e8e8e8;
}

.testimonial .name {
	margin-top: 20px;
	color: #e1571a;
	font-family: 'Raleway',sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
}

.testimonial .position {
	margin-bottom: 25px;
	color: #303030;
	font-family: 'Raleway',sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 24px;
}

.testimonial .left {
	padding: 10px;
	height: auto;
	border: 1px solid #e8e8e8;
	background: url(img/ic-left.png) no-repeat 50% 50%;
}

.testimonial .right {
	padding: 10px;
	height: auto;
	border: 1px solid #e8e8e8;
	background: url(img/ic-right.png) no-repeat 50% 50%;
}

.testimonial .left:hover, .testimonial .right:hover {
	border: 1px solid #303030;
}


/* Instagram */

.instagram h2 {
	margin-top: 80px;
}

.instagram .dott {
	margin-bottom: 64px;
}

.instagram img {
	display: inline-block;
} 

.photo {
	width: 20%;
	height: 20%;
	list-style: none;
	float: left;
}

/* Footer */

.footer {
	/*height: 400px;*/
	background: #141414;
	color: #515151;
	text-align: center;
	
}

.footer img {
	margin-top: 49px;
}

.footer p {
	width: 749px;
	margin: 0 auto;
	padding-top: 29px;
	font-size: 12px;
	font-weight: 500;
	line-height: 24px;
}

.copyright {
	margin: 33px 0;
	color: #4c4c4c;
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
}

.footer .social a:hover:before{
	content: '';
	position: absolute;
	top: 51%;
	left: 0;
	
	border: 1px solid #e1571a;
	border-radius:50%;
	width: 42px;
	height: 42px;
}

.footer hr {
	margin-top: 72px;
	height: 1px;
	width: 770px;
	border: none;
	background-color: #262626;
}